m04/uf1/a2/act6_2/jpsanchez_a2_act6_ex1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
<xs:element name="ciudad"></xs:element>
<xs:element name="fecha-de-nacimineto"></xs:element>
<xs:element name="hora"></xs:element>
<xs:element name="nota"></xs:element>
<xs:element name="true"></xs:element>
</xs:schema>
